<!doctype html>
<html lang="en">
{% include "./fragments/head.html" %}
<body>

{% include "./fragments/nav.html" %}

<h1>Records:</h1>
<ul>
    {% for record in records %}
        <li>{{ record.id }}
            {{ record.artist }}
            {{ record.title }}
            {{ record.release_type }}
            {{ record.release_year }}</li>
    {% endfor %}
</ul>

{% include "./fragments/footer.html" %}
{% include "./fragments/scripts.html" %}

</body>
</html>

