<!doctype html>
<html lang="en">
{% include "./fragments/head.html" %}
<body>

{% include "./fragments/nav.html" %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="container">
                <h1 class="header center teal-text text-lighten-2">
                    {% if message is not same as null %}
                        <strong>{{ message.message }}</strong>
                    {% else %}
                        <strong>Browse your favourite records</strong>
                    {% endif %}
                </h1>
            </div>
            {% for record in records %}
                <div class="col s12 m4">
                    <div class="icon-block">
                        <div class="card">
                            <div class="card-image">
                                <img src="./public/img/background1.jpg" alt="record image">
                                <span class="card-title">{{ record.title }}</span>
                            </div>
                            <div class="card-content">
                                <ul>
                                    <li><strong>ID:</strong> {{ record.id }}</li>
                                    <li><strong>Artist:</strong> {{ record.artist }}</li>
                                    <li><strong>Title:</strong> {{ record.title }}</li>
                                    <li><strong>Release Type:</strong> {{ record.release_type }}</li>
                                    <li><strong>Release Year:</strong> {{ record.release_year }}</li>
                                </ul>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn bmtb-_5"
                                   href="./?p=record&record-id={{ record.id }}">
                                    Details
                                </a>
                                <a class="waves-effect waves-light btn bmtb-_5"
                                   href="./?p=record&record_update={{ record.id }}">
                                    Update
                                </a>

                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger red lighten-3"
                                   href="#modal{{ record.id }}">Delete</a>
                                <!-- Modal Structure -->
                                <div id="modal{{ record.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Are you sure you want to delete?</h4>

                                        <div class="center">
                                            <a class="waves-effect waves-light btn red lighten-2 bmtb-_5 btn-large"
                                               href="./?p=delete-record&record-id={{ record.id }}">Yes</a>

                                            <a class="modal-close waves-effect waves-light btn bmtb-_5 btn-large">No</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col s12 m4">
                <div class="icon-block">
                    <div class="card">
                        <div class="card-image">
                            <img src="./public/img/background2.jpg" alt="record image">
                            <span class="card-title">Add record to database</span>
                        </div>
                        <div class="card-content center">
                            <p>Click the button below to add a new item:</p>
                            <br>
                            <br>
                            <a class="btn-floating btn-large waves-effect waves-light red pulse" href="./?p=add-record">
                                <i class="material-icons">add</i>
                            </a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "./fragments/footer.html" %}
{% include "./fragments/scripts.html" %}

</body>
</html>

